<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>绩效考核系统</title>
    <link href=/static/css/app.7fb829a0b2baea28fb9f827568ce6ea0.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.711d61926fd157ef8f87.js></script>
<script type=text/javascript src=/static/js/app.ba600f5311bcabe3d326.js></script>
</body>
</html>